[diff "kube-vault"]
	textconv = /Users/oleksandr.lytvyn/work/core/kube/venv/bin/python /Users/oleksandr.lytvyn/work/core/kube/deploy.py show
	cachetextconv = false
[user]
	email = oleksandr.lytvyn@bloomreach.com
	name = Oleksandr Lytvyn

[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/

[url "git@gitlab.exponea.com:"]
	insteadOf = https://gitlab.exponea.com/
